
# Created by https://www.gitignore.io/api/codeblocks

### CodeBlocks ###
# specific to CodeBlocks IDE
*.cbp
*.layout
*.depend

# generated directories
bin/
obj/
gnuplot/

# End of https://www.gitignore.io/api/codeblocks


compile.bat
*.exe
*.save-failed


*.png
*.plt
*.txt

fort.10